.ant-layout-sider, .ant-layout-sider-dark{

    flex: 0 0 200px !important;
    max-width: 80px !important;
    min-width: 60px !important;
    width: 200px !important;
}
.ant-layout-sider{
    background: white !important;
}
.ant-layout {
  background:  #F4F9FF;
}
.sidebar{
    
    height: 100vh;
}
.logo img{
    height: 70px !important;
    width: 80px !important;
}
.middle{
    height: 300px;
    
    margin-top: 100px !important;

}
.bottom{
    margin-left: 10px;
    margin-top:80px;
    
    
}
.middle img{
    height: 40px;
    width: 50px;

}
.bottom img{
    height: 50px;
    width: 50px;

}

.contentGrid{
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  row-gap: 0;
  column-gap: 0ch;
}


/*
.SideBar {
    height: 100vh;
    background: #ffffff;
  }
  .ant-layout-sider,
  .ant-layout-sider-dark,
  .SideBar {
    flex: 0 0 200px !important;
    max-width: 70px !important;
    min-width: 50px !important;
    width: 200px !important;
  }
  .Logo img {
    width: 70px;
    height: 70px;
  }
  .midicon {
    margin-top: 120px;
  }
  .midicon img {
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
  }
  .ant-menu-item,
  .ant-menu-item-only-child {
    padding-left: 10px !important;
  }
  .ant-menu-item,
  .ant-menu-item-only-child,
  .midicon3 {
    padding-left: 10px !important;
  }
  .boticon {
    width: 50px;
    height: 50px;
    margin: 70px 15px;
  }
  .boticon img {
    margin-top: 20px;
  }
  .ant-layout-header {
    background: lightblue !important;
  }
  .headright{
    margin-left: 150px;
    border-radius: 5px;
  }
  .ant-layout {
    background: lightblue;
  }
  .lefthead {
    font-weight: 700;
    font-size: 28px;
    margin-left: 20px;
  }
  .ant-btn-primary {
    /* width: 150px !important; */
    /* float: right; */
    
    /* margin-left: 40px; */
  /*
  .midhead {
    margin-top: 10px;
    width: 50px !important;
  }
  .ant-input-affix-wrapper {
    margin-left: 120px !important;
    width: 40% !important;
    border-radius: 10px;
    border-style: solid;
    border-color: #2B78D4;
    color: #2B78D4;
  }
  /* .midright{
    float: right;
  } */
  /* .midhead Input{
    border-radius: 5px;
    border-style: solid;
    color: #002f68;
  } */

  /*
  .contentGrid{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    row-gap: 0;
    column-gap: 0ch;
  }
  */
  .card1 {
    border-radius: 20px;
  }
  .ant-card-body {
    padding: 9px !important;
  }
  .cardImg {
    margin: 5px 5px;
    width: 40px;
    height: 40px;
    background-color: #d1dcf4;
    border-radius: 5px;
  }
  
  .cardTitile {
    color: #002f68;
    font-weight: 700;
    font-style: bold;
  }
  .cardPara {
    font-weight: 400;
    font-size: 12px;
    color: #5c83b1;
  }
  .cardSpan {
    font-size: 14px;
    color: #5c83b1;
    font-weight: 400;
  }
  .gutter-box {
    padding: 8px 0;
    background: #00a0e9;
  }
  .ant-layout-header {
    height: 53px !important;
    padding: 0 21px !important;
  }
  .ant-row{
    height: 150px !important;
    margin:  0 !important;
  }
  
  .ant-menu-vertical, .ant-menu-item:not(:last-child), .ant-menu-vertical-left, .ant-menu-item:not(:last-child), .ant-menu-vertical-right, .ant-menu-item:not(:last-child), .ant-menu-inline, .ant-menu-item:not(:last-child){
    margin-bottom: 15px !important;
  }
  .ant-menu-inline.ant-menu-root .ant-menu-item, .ant-menu-inline.ant-menu-root .ant-menu-submenu-title{
    align-items: normal !important;
  }
  /* .card2{
    display: none;
  }
  .site-card-border-less-wrapper{
    display: block;
  } */
  
  