.topnav{
    display: flex;
    justify-content: space-between;
    flex-direction: row;

}
.workflow{
    margin-left: 20px;
    font-weight: 700;
    font-size: 32px !important;
    
}
.btn1{
    height: 100%;
    margin: 10px 30px 10px 0;
    padding: 5px 20px 5px 20px;
    background-color:#2B78D4 !important;
    color:white !important;
    border-radius: 7px !important;
    font:Montserrat;
    /* font-weight: 600; */
    font-size: 20px !important ;
}
.search {
    margin-top: 10px;
    width: 350px !important;
    height: 40px !important;
    border-radius: 10px !important;
}
.ant-layout-header{
    background-color: #F4F9FF !important;
}