.topnav{
    position: sticky;
    top: 0;
    height: 70px;
    width: 100%;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    background-color: #F4F9FF !important;
    
    

}
.workflow{
    margin-left: 20px;
    font-weight: 700;
    font-size: 32px !important;
    
}
.btn1{

    background-color:#2B78D4 !important;
    color:white !important;
    border-radius: 7px !important;
    font-size: 18px !important ;
    margin-top: 10px;
    margin-right: 40px;
    height: 40px !important;
}
.search {
    margin-top: 10px;
    width: 350px !important;
    height: 40px !important;
    border-radius: 10px !important;
}
.ant-layout-header{
    background-color: #F4F9FF !important;
    
    
}
.modal_design{
    display: flex ;
    justify-content: space-between ;
    
}
.input_name, .input_desig{
    margin-bottom: 20px ;
    border: 0;
    outline: 0;
    font-weight: 700;
    border-bottom : 1px solid ;
    

}
.modal_label p{
   
    width: 130px;
    margin-bottom: 25px ;
    margin-left: 10px;
    margin-right: 10px;
    line-height: 20px ;
    
}
.modal_footer{
    margin-top: 15px;
    display: flex;
    justify-content: end;
}
.footer_save{
    margin-right: 20px;
    padding: 0 40px;
    border-radius: 5px;
}
.footer_cancel{
    padding: 0 40px;
    color: #2B78D4;
    font-weight: 600;
    border-radius: 5px;

}