

.maincard{

  border-radius: 15px;
}


.viewbutton_head{
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 0;

}
.viewbutton_para{
    margin-top: 0;
    margin-bottom: 15px;
    font-weight: 300;
    font-size: 12px;
    
}
.viewbutton_secpara{
    margin-bottom: 30px;
}
.second_row{
    padding-left: 120px;

}
.label_details_name{
    margin-bottom: 15px;
}
.label_details_desig{
    display: inline-block;
    margin-top: 15px !important ;
    margin-bottom: 15px;
    
}
.input_details_name{
    margin-bottom: 10px ;
    border: 0;
    outline: 0;
    
    border-bottom : 1px solid ;

    color: #002F68;
  
    font-weight: 700;
  
    font-family: 'Montserrat', sans-serif;
  
    font-size: 16px;
  
    line-height: 25px;

}

.ant-input{
    padding-left: 0 !important;
} 
.ant-layout {
  background:  #F4F9FF !important;
  
}

  
  .ant-modal-content{
    
    border-radius: 20px !important ;
  }
  .ant-modal-header{
    border-radius: 20px 20px 0 0;

  }
  .ant-row{ 
    width: 300px;
    height: 150px;
    border-radius: 15px;
    padding: 0 !important;

  }
  .ant-layout{
    margin-left: 38px;
    margin-bottom: 30px;
  }
  
  
  
  .cardImg{
    margin-top: 10px;
    
  }
 .cardTitile{
  margin-top: 10px;
  color:#002F68;
  font-size:18px;
  font-weight: 700;
 }
 .cardPara{
  font-weight: 500;
  color: #5C83B1;
  font-size: 14px;

 }
 .cardSpan{
  font-weight: 500;
  color: #5C83B1;
  font-size: 12px;

 }


.card2para{
    padding: 5px;
    margin-bottom: 30px;
}

.popupbtn{
  margin-left: 100px;
  margin-top: 20px;
  background-color: #2B78D4;
  color: white;
  border-radius: 5px;
  padding: 0 35px;

}
.popupdelbtn{
  margin-left: 10px;
  background-color: white;
  color: #2B78D4;
  border-radius: 5px;
  padding: 0 30px;

}